@charset "utf-8";
/*Variables
-------------*/
$primary-color:#900;
$primary-background-color:#fff;
$primary-dark-background-color:darken($primary-background-color,5%);
$aside-background-color:#1e1f21;
$aside-text-color:$primary-background-color;
/*Main
-------------*/
body{
	width:100%;
	min-height:100%;
	background-color:$primary-background-color;
	color:$aside-background-color;
	font-family:'Roboto',sans-serif;
	font-size:1.5vw;
}
/*Content
-------------*/
main{
	position:relative;
	margin:auto;
	width:100%;
	height:100%;
	display:grid;
	grid-template-columns:25% 75%;
	grid-template-rows:auto;
	grid-template-areas:"profile information";
}
/*Profile
-------------*/
aside{
	background-color:$aside-background-color;
	width:25vw;
	height:100%;
	position:relative;
	display:grid;
	display:subgrid;
	grid-area:profile;
	align-self:start;
	color:$primary-background-color;
	padding:0 1vw;
}
#profile-fig{padding:1vw}
#profile-img{border-radius:100%;border:.5vw solid $primary-color}
@supports(-webkit-clip-path:polygon(0 0,0 0,0 0,0 0)) or (clip-path:polygon(0 0,0 0,0 0,0 0)){
	#profile-fig{
		margin:auto;
		position:relative;
		width:24vw;
		height:24vw;
		background:$primary-color;
		-webkit-clip-path:polygon(25% 10%,75% 10%,100% 50%,75% 90%,25% 90%,0 50%);
		clip-path:polygon(25% 10%,75% 10%,100% 50%,75% 90%,25% 90%,0 50%);
	}
	#profile-img{
		border:none;
		position:absolute;
		background:$primary-background-color;
		width:22.5vw;
		height:22.5vw;
		left:.75vw;
		top:.75vw;
		-webkit-clip-path:polygon(25% 10%,75% 10%,100% 50%,75% 90%,25% 90%,0 50%);
		clip-path:polygon(25% 10%,75% 10%,100% 50%,75% 90%,25% 90%,0 50%);
	}
}
aside header{margin-bottom:3vh}
aside header h1,aside header h2{
	font-family:'Roboto Condensed',sans-serif;
	text-align:center;
	margin:0;
}
aside header h1{
	font-size:4vw;
	margin-bottom:1vh;
	font-variant:small-caps;
}
aside header h2{
	font-size:2vw;
	color:#ccc;
	text-transform:uppercase
}
aside section h3{
	font-size:1.5vw;
	position:relative;
	overflow:hidden;
	font-variant:small-caps;
}
aside section h3::after{
	content:"";
	display:inline-block;
	position:absolute;
	height:.15vw;
	width:100%;
	padding-left:1vw;
	background:$primary-background-color;
	transform:translate(1vw,.75vw);
}
aside section#personalia ul{
	list-style:none;
	padding-left:3vw
}
aside section#personalia ul li{
	margin:5vw 2vw;
	position:relative;
}
aside section#personalia ul li:before{
	content:"\2B23";
	content:"\2B22";
	font-size:6vw;
	position:absolute;
	left:-5vw;
	top:-2.2vw;
}
aside section#personalia ul li:after{
	font-family:"FontAwesome";
	color:#1e1f21;
	position:absolute;
	display:flex;
	top:-.7vw;
	left:-4.1vw;
	font-size:2.2vw;
	width:3vw;
	height:3vw;
	text-align:center;
	justify-content:center;
	align-items:center;
}
#p-birth:after{content:"\f073"}
#p-nationality:after{content:"\f183"}
#p-address:after{content:"\f041"}
#p-gsm:after{content:"\f10b"}
#p-mail:after{content:"\f0e0"}
#p-web:after{content:"\f0c1"}
aside section h4{font-size:1.5vw;display:inline-block;width:20%}
/*Progress*/
progress{
	-webkit-appearance:none;
	-moz-appearance:none;
	appearance:none;
	margin:1vw 0;
	border:1px solid $primary-background-color;
	width:60%;
	height:2vw;
	position:relative;
	background-color:$aside-background-color;
	margin-left:3vw
}
progress::-webkit-progress-bar{background-color:$aside-background-color;color:$primary-background-color}
progress::-webkit-progress-value{background:$primary-background-color}
progress::-moz-progress-bar{background:$primary-background-color}
progress::-ms-fill{background:$primary-background-color}
progress:after,
progress:before{
  position:absolute;
  content:"";
  z-index:1;
  top:-.13vw;  
  width:0;
  background:transparent;
  border-top:1.05vw transparent solid; 
  border-bottom:1.05vw transparent solid;
}
progress:before{
	left:-1vw;
	border-right:1vw $primary-background-color solid; 
}
progress:after{
	right:-1vw;
	border-left:1vw $primary-background-color solid; 
}
/*QR*/
#qr{text-align:center}
#qr-code{
	width:20vw;
	height:20vw;
	background:rgba(128,128,128,.5);
	margin:1vw auto;
}
#qr a{
	text-transform:uppercase;
	margin-bottom:2vw;
	display:inline-block;
}
/*Information
-------------*/
article{
	display:grid;
	display:subgrid;
	grid-area:information;
	width:100%;
	padding:1vw 0 1vw 3vw;
	grid-template-rows:25% 40% 35%;
}
article section{
	display:grid;
	display:subgrid;
	grid-template-rows:6vw auto;
}
article section h2{
	color:$primary-color;
	font-variant:small-caps;
	font-size:3vw;
	font-weight:600;
	position:relative;
	overflow:hidden;
}
article section h2::after{
	content:"";
	display:inline-block;
	position:absolute;
	height:.3vw;
	width:100%;
	padding-left:1vw;
	background:$primary-color;
	transform:translate(1vw,1.3vw);
}
article section .infItem{
	display:grid;
	display:subgrid;
	grid-template-columns:75% 25%;
	grid-template-areas:"info year";
	justify-self:start;
	align-self:center;
	width:100%
}
article section .infItem .infDesc h3{
	color:$primary-color;
	font-variant:small-caps;
}
article section .infItem .infDesc h4{
	font-size:1.5vw
}
article section .infItem h5{
	color:$primary-color;
	justify-self:end;
	align-self:center;
	font-size:2.5vw;
	margin-right:2vw
}
article section#knowledge section{
	grid-template-columns:50% 50%;
	grid-template-areas:"job programs";
	grid-template-rows: auto;
}
article section#knowledge section div{
	align-self:center;
	justify-self:center
}
article section#knowledge section div h3{
	margin-bottom:2vw;
	color:$primary-color;
	text-align:center;
	font-variant:small-caps;
}
article section#knowledge section div ul li{
	list-style-type:none;
	margin:1vw 0
}
article section#knowledge section div ul li:before{
	font-family:"FontAwesome";
	content:"\f0da";
	margin-right:4px
}
/*Links
-------------*/
a,a:visited{
	color:#eee;
	text-decoration:none;
	border-bottom:1px solid transparent;
	-webkit-transition:all .2s ease;
	-moz-transition:all .2s ease;
	-o-transition:all .2s ease;
	transition:all .2s ease;
}
a:active, a:hover{
	color:$primary-background-color;
	border-color:$primary-background-color;
}
/*Scrollbar
-------------*/
::-webkit-scrollbar{width:12px;height:12px}
::-webkit-scrollbar-corner{background-color:$primary-dark-background-color;}
::-webkit-scrollbar-track{background-color:$primary-dark-background-color;}
::-webkit-scrollbar-thumb{background:$primary-color}
::-webkit-scrollbar:horizontal{height:12px}
/*Selection
-------------*/
::selection{color:$primary-background-color;background-color:$primary-color;}
::-moz-selection{color:$primary-background-color;background-color:$primary-color;}